* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #eceff1;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 33.3%;

  margin: auto;
  margin-top: 20px;
}

.todoItem {
  width: 100%;

  background: #eeeeee;
  padding: 10px;
  border-bottom: 2px #cccccc solid;
  border-right: 2px #cccccc solid;
  border-left: 2px #cccccc solid;
  margin: auto;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.todoItemContents {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.clickableTodo {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoItemText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.addTodoButton {
  border: none;
  background: #757575;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
  font-weight: bold;
}

.mainHeader {
  background: rgb(115, 150, 165);
  padding: 10px;
  text-align: center;
  border-bottom: 2px #dadada solid;
}
